<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>

  <connectionStrings>
    <add name="chicEntities" connectionString="metadata=res://*/stmmEntity.csdl|res://*/stmmEntity.ssdl|res://*/stmmEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=47.98.38.206;initial catalog=chic;user id=chensaihua;password=csh#123456;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>